# Ignorar compilados de Java
*.class

# Ignorar empaquetados
*.jar
*.war
*.ear

# Carpetas generadas por IDEs (NetBeans, IntelliJ, Eclipse)
build/
dist/
out/
nbproject/private/
.nb-gradle/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
